<div class="row">
  <div class="col-sm-9">
    <h1>Listing games</h1>
  </div>
  <div class="col-sm-3">
    <%= link_to 'New game', new_game_path , role: "button", class:"btn btn-danger" %>
  </div>
</div>

<table class="table table-stripped">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td>
          <%= "Players: #{game.players.count}" %>
          <span class="pull-right">
            <%= link_to "Show", game, role: "button", class: "btn btn-primary" %>
            <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, role: "button", class: "btn btn-danger" %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

